#listModal {
  margin-top: 5vh;
}

details {
  cursor: default;
  padding: 0px;
  margin: 10px;
  box-shadow: #E9ECEF 0px 2px 0px 0px;
  background: #F8F9FA;
}

summary {
  cursor: pointer;
  text-align: center;
  font-size: large;
  padding: 5px;
}

summary:hover {
  background: #E9ECEF;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
}

.modalHeader button {
  height: 3.5em;
}

.mealDetails {
  display: flex;
  flex-direction: column;
}

.MuiAccordion-root {
  margin-top: 10px;
}

.MuiAccordionDetails-root {
  flex-direction: column;
}