#calView {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#buttonContainer {
  width: 80%;
  display: flex;
  justify-content: center;
}

#buttonContainer button {
  margin: 5px;
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.hide {
  visibility: hidden;
}

.custom-calendar-styles {
  width: 80vw;
  height: max-content;
  border: none;
  box-shadow: #e0e0e0 0px 0px 2px 2px;
  margin: 5px;
  justify-self: center;
}

.custom-calendar-styles button {
  height: max(9vh, 80px);
}

.testClassName {
  color: white;
  background-color: black;
}

/* For calendar button */
.react-calendar__navigation button[disabled] {
  background-color: white !important;
  color: black;
}