#calView {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#buttonContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#buttonContainer button {
  margin: 5px;
  width: 200px;
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#main {
  margin-top: 5vh;
  display: grid;
  place-items: center;
}

.hide {
  visibility: hidden;
}

.custom-calendar-styles {
  width: 80vw;
  height: max-content;
  border: none;
  box-shadow: #e0e0e0 0px 0px 2px 2px;
  margin: 5px;
}

.custom-calendar-styles button {
  height: max(45px, min(10vw, 10vh));
}

.testClassName {
  color: white;
  background-color: black;
}

/* For calendar button */
.react-calendar__navigation button[disabled] {
  background-color: white !important;
  color: black;
}

.calendar-button-styles {
  display: flex;
}

.calendar-list {
  overflow: hidden;
  padding: 0 8px !important;
}

.calendar-list-item {
  background: #303F9F;
  color: #f0f0f0;
  border-radius: 15px;
  width: 100%;
  overflow: hidden;
  padding: 0 8px !important;
  margin: 1px;
}

.calendar-list-item>div {
  margin: 0;
}

.meal-length-display {
  display: none;
  padding: 0 4px !important;
  background: #303F9F;
  color: #f0f0f0;
  border-radius: 15px;
  width: 100%;
}

@media only screen and (max-width: 1025px) {
  .calendar-list {
    padding: 0 4px !important;
  }

  .calendar-list-item p {
    font-size: 0.7rem;
  }
}

@media only screen and (max-width: 768px) {
  .calendar-button-styles {
    flex-direction: column;
  }
  
  .calendar-list {
    display: none;
  }

  .meal-length-display {
    display: inherit;
    font-size: 0.6rem !important;
    padding: 0 2px !important;
  }
}

@media only screen and (max-width: 481px) {
  .meal-length-display {
    display: none;
  }
}