#calView {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#buttonContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#buttonContainer button {
  margin: 5px;
  width: 200px;
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#main {
  margin-top: 5vh;
  display: grid;
  place-items: center;
}

.hide {
  visibility: hidden;
}

.custom-calendar-styles {
  width: 80vw;
  height: max-content;
  border: none;
  box-shadow: #e0e0e0 0px 0px 2px 2px;
  margin: 5px;
}

.custom-calendar-styles button {
  height: max(45px, min(10vw, 10vh));
}

.testClassName {
  color: white;
  background-color: black;
}

/* For calendar button */
.react-calendar__navigation button[disabled] {
  background-color: white !important;
  color: black;
}