#ingredientModal {
  margin-top: 5vh;
}

#saveButton {
  background: #a2cf6e;
}

.list-holder button {
  margin-bottom: 10px;
}

.errorSnackbar {
  background: red !important;
  color: #f0f0f0 !important;
}

.successSnackbar {
  background: green !important;
  color: #f0f0f0 !important;
}

.snackbarIcon {
  vertical-align: text-bottom;
  margin-bottom: 0 !important;
  color: #f0f0f0;
}