#mealSelect {
    display: block;
}

#mealModalForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.list-holder {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.list-holder h6 {
    text-align: left;
}

.list-holder button {
    margin: 5px;
}

.ingredientContainer {
    display: flex;
    width: 80%;
}

.qInput {
    margin: 5px !important;
    width: 20% !important;
}

.nInput {
    margin: 5px !important;
}