#mealModal {
    margin-top: 5vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

#mealModal .modalHeader {
    grid-column: 1 / span 12;
}

#mealSelect {
    display: block;
}

#mealModalForm {
    grid-column: 3 / span 10;
    display: flex;
    flex-direction: column;
    width: 75%;
}

#mealModalForm h5 {
    margin-top: 10px;
}

#mealModalForm button {
    margin: 5px;
}

.modalFooterButtons {
    display: flex;
    justify-content: center;
}

.modalFooterButtons button {
    margin: 10px;
}

.list-holder {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.list-holder ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ingredientContainer {
    display: flex;
    width: 80%;
}

.qInput {
    margin: 5px !important;
    width: 20% !important;
}

.nInput {
    margin: 5px !important;
}