#home {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#content {
  display: grid;
  place-items: center;
  background-position: center;
  height: 100vh;
  width: 100vw;
}

#content video {
  object-fit: cover;
  width: 100vw;
  height: 100%;
  z-index: -2;
  position: fixed;
}

#text {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 15px;
  background:rgba(29, 29, 29, 0.7);
}

#text h1 {
  color: #f0f0f0;
  margin-top: 0px;
  text-shadow: black 2px 2px 4px;
}

#text button {
  background: #f0f0f0
}