#authButtons {
  margin-left: auto;
}

#menuAnchor {
  font-family: inherit;
  padding: 10px 15px;
}

#user-menu a, #auth-menu a {
  font-family: inherit;
  text-decoration: none;
  color: inherit;
}

.nav-wrapper a {  
  font-family: inherit;
  text-decoration: none;
  color: inherit;
}

#logo {
  padding-left: 15px;
}

svg {
  margin-right: 5px;
}

.brand-logo h1 {
  font-size: 2.3rem !important;
}

.iconTextMix {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.navBar {
  background: #303F9F !important;
  color: #f0f0f0 !important;
  z-index: 5;
}

@media only screen and (max-width: 481px) {
  .brand-logo h1 {
    font-size: 1.85rem !important;
  }

  #menuAnchor {
    font-size: 0.8rem;
    padding: 8px;
  }
}