#menuAnchor {
  font-family: inherit;
  padding: 10px 15px;
}

#menuAnchor:focus {
  background: none;
}

#user-menu a {
  font-family: inherit;
  text-decoration: none;
  color: inherit;
}

.nav-wrapper a {  
  font-family: inherit;
  text-decoration: none;
  color: inherit;
}

#logo {
  padding-left: 15px;
}