#shoppingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#shoppingContainer li{
  list-style: '- ';
}

#exportContainer {
  display: flex;
  justify-content: center;
}

#exportContainer button {
  margin: 10px 5px;
}